{% extends "slavaukraine/template_box.html" %}
{% load static %}
{% block box %}

<body>
<br>
    {% if user.is_enterprise %}
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-yellow btn-sm carrousel-button">
            Editar
        </button>
        <br><br>
    </form>
    {% elif user.is_person %}
        <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-yellow btn-sm carrousel-button">
            Editar
        </button>
        <br><br>
    </form>
    {% endif %}
    <div>
        <a class="btn btn-danger btn-sm" role="button"
           href="{% url 'slavaukraine:delete_user' user.id %}">Apagar Conta</a>
    </div>
</body>
</html>
<br><br>

{% endblock %}
