{% extends "slavaukraine/template_box.html" %}
{% load static %}

{% block box %}
<br>
<form action="?" method="GET">
    <input type="text" name="nome_do_titulo" id=""
           value="{{ request.GET.nome_do_titulo }}" autocomplete="off"
           placeholder="Nome do título">
    <button type="submit" class="btn btn-primary btn-sm me-2 carrousel-button-uk">Pesquisar</button>

    <a href="{% url 'slavaukraine:listproposals' %}" class="btn btn-outline-yellow btn-sm carrousel-button">Limpar</a>
</form>
<br>
<div class="list-group">
    {% for object in object_list %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 message-page-mtitle">{{ object.title }}</h5>
            <small class="message-page-stitle"> + Informação</small>
        </div>
        <p class="mb-1 message-page-stitle">{{ object.expertiseNeeded }}</p>
        <small class="text-muted">&nbsp; {{ object.city }}</small>

    </a>
    {% endfor %}
</div>


<br>
<div class="text-center">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="volunteer-subtext-blue">Página {{ page_obj.number }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
    {% endif %}
</div>
<br>

{% endblock %}