{% extends "slavaukraine/template_box.html" %}
{% load static %}

{% block box %}
<div class="container">

    <div class="row mb-5 contacts-margin-title">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <br>
            <h2>Título: {{ proposal.title }}</h2>
            <p class="w-lg-50 contacts-subtext">Empresa: {{ proposal.enterprise }}</p>
        </div>
    </div>
    <div class="container">
        <p>Descrição: {{ proposal.description }}<br/>
            {% if user.is_person %}
        <form action="{% url 'slavaukraine:proposal' proposal.id %}" method="post" id="reg">
            {% csrf_token %}

            {% if registed == '0'%}
            <button type="submit" form="reg" value="Registar" class="btn btn-primary btn-sm me-2 carrousel-button-uk">
                Inscrever-me
            </button>

        </form>


        <form action="{% url 'slavaukraine:favorite_proposal' proposal.id %}" method="post" id="fav">
            {% csrf_token %}
            <button type="submit" form="fav" value="Guardar" class="btn btn-outline-yellow btn-sm carrousel-button">
                Guardar
            </button>

        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}