{% extends "slavaukraine/template_box.html" %}
{% load static %}

{% block box %}
<div class="container">

    <div class="row mb-5 contacts-margin-title">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <br>
            <h2>Título: {{ proposal.title }}</h2>
            <p class="w-lg-50 contacts-subtext">Empresa: {{ proposal.enterprise }}</p>
        </div>
    </div>
    <div class="container">
        <p>Descrição: <br>{{ proposal.description }}<br/>

        {% if user.is_person and registed == 0 %}
            <form action="{% url 'slavaukraine:proposal' proposal.id %}" method="post" id="reg">
                {% csrf_token %}
                <button type="submit" form="reg" value="Registar" class="btn btn-primary btn-sm me-2 carrousel-button-uk">
                    Inscrever-me
                </button>
            </form>
        {% elif user.is_person and registed == 1  %}
            <form action="{% url 'slavaukraine:removesubscription' proposal.id %}" method="post" id="des-reg">
                {% csrf_token %}
                <button type="submit" form="des-reg" value="Desregistar" class="btn btn-danger btn-sm">
                    Desinscrever
                </button>
            </form>
        {% elif user.is_enterprise and user.pk == proposal.enterprise.id%}

            <form action="{% url 'slavaukraine:removesubscription' proposal.id %}" method="post" id="see-users">
                {% csrf_token %}
                <button type="submit" form="see-users" value="Desregistar" class="btn btn-primary btn-sm me-2 carrousel-button-uk" >
                    Ver inscritos
                </button>
            </form>

            <form action="{% url 'slavaukraine:edit_proposal' proposal.id %}" method="post" id="edit-prop">
                {% csrf_token %}
                <button type="submit" form="edit-prop" value="Desregistar" class="btn btn-outline-yellow btn-sm carrousel-button" >
                    Editar Proposta
                </button>
            </form>

            <form action="{% url 'slavaukraine:delete_proposal' proposal.id %}" method="post" id="del-prop">
                {% csrf_token %}
                <button type="submit" form="del-prop" value="Desregistar" class="btn btn-danger btn-sm">
                    Apagar Proposta
                </button>
            </form>
            <br><br>
                <div class="container">
                    <br>
                    <div class="list-group">
                        <table id="table_id" class="display message-page-mtitle">
                            <thead>
                            <tr>
                                <th>Voluntário</th>
                                <th>Contacto</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for volunteer in registered_users %}
                                <td class="list-group-item list-group-item-action">
                                    <p class="mb-1 message-page-stitle">{{ volunteer.username}}</p>
                                </td>
                                <td><p class="mb-1 message-page-stitle">&nbsp;&nbsp; &nbsp;&nbsp;{{ volunteer.email }}</p></td>
                                <td>
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="btn-sm btn-primary text-right carrousel-button-uk" role="button"
                                               href="{% url 'slavaukraine:edit_proposal' volunteer.id  %}">Contactar</a>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                            {% if not registered_users %}
                                <br>
                                <p class="col-md-8 col-xl-6 text-center mx-auto"> Não há voluntários inscritos</p>
                            {% endif %}
                        <br>
                    </div>
                </div>
        {% endif %}

        <br>

        {% if user.is_person and favorited == 0 %}
            <form action="{% url 'slavaukraine:favorite_proposal' proposal.id %}" method="post" id="fav">
                {% csrf_token %}
                <button type="submit" form="fav" value="Guardar" class="btn btn-outline-yellow btn-sm carrousel-button">
                    Guardar
                </button>
            </form>
        <br>
        {% elif user.is_person and favorited == 1  %}
            <form action="{% url 'slavaukraine:removefavorite' proposal.id %}" method="post" id="rem-fav">
                {% csrf_token %}
                <button type="submit" form="rem-fav" value="Guardar" class="btn btn-danger btn-sm">
                    Remover dos favoritos
                </button>
            </form>
        </form>
        <br>
        {% endif %}
        <br><br>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({}
        );
    });
</script>
{% endblock %}