{% extends "slavaukraine/template.html" %}
{% load static %}
{% block main %}


    <p>Título: {{ proposal.title }} </p><br/>
    <p>Empresa: {{ proposal.enterprise }}</p><br/>
    <p>Descrição: {{ proposal.description }}<br/>

     <form action="{% url 'slavaukraine:register_porposal' proposal.id %}" method="post" id="reg">
     {% csrf_token %}
        <button type="submit" form="reg" value="Registar">Registar</button>
     </form>

    <form action="{% url 'slavaukraine:favorite_proposal' proposal.id %}" method="post" id="fav">
     {% csrf_token %}
        <button type="submit" form="fav" value="Guardar">Guardar</button>
     </form>

{% endblock %}