<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>-->

    {% if user.is_authenticated %}

        {% if user.is_enterprise %}
            <p>Hey! I am an ENTERPRISE with username: {{ user.username }}</p>
            <p><a href="{% url 'slavaukraine:registproposal' %}">Registar proposta </a></p>
            <br>
            <p><a href="{% url 'slavaukraine:listed_enterpriseproposals' user.id%}">As minhas propostas </a></p>
            <br>
            <p><a href="{% url 'slavaukraine:edit_enterprise' user.id %}" >Editar empresa </a></p>

        {% else %}
            <p>Hey! I am an PERSON with username: {{ user.username }}</p>
            <br>
            <p><a href="{% url 'slavaukraine:edit_person' user.id %}" >Editar os meus dados </a></p>
        {% endif %}
        <p><a href="{% url 'slavaukraine:logout' %}">Logout </a></p>
    {% else %}

        <p>NOT LOGGED</p>
        <p><a href="{% url 'slavaukraine:login' %}">Login </a></p>
    {% endif %}

<!--
</body>
</html>-->