{% block content %}

    <h2>Create Proposal</h2>
<!---->
    <form method="post" id="proposalForm" data-cities-url="{% url 'slavaukraine:ajax_load_cities' %}" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    //gets the ID of the selected country
        $("#id_country").change( function() {
            const url = $("#proposalForm").attr("data-cities-url");
            const countryId= $(this).val(); //Gets the selected country from the HTML input

            $.ajax({ //initializes an AJAX request
                url: url,   //Sets the url of the request (= /proposals/ajax/load-cities)
                data: {
                    'country_id': countryId //Adds the country id to the GET parameters
                },
                success: function (data){ // 'data' will be the return of the 'load_cities view function
                    //Way of debug the info that HTML is receiving: console.log(data);
                    $("#id_city").html(data); // Replaces the contents of the city input with the data that came from the server!
/*
                    let html_data='<option value="">------------</option>';
                    data.forEach(function (city){
                        html_data += '<option value="$(city.id)">$(city.name)</option>'
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data)*/
                }
            })

        })
    </script>

{% endblock content %}