{% extends "slavaukraine/template.html" %}
{% load static %}
{% block main %}
    <div class="container">
        <section class="position-relative py-4 py-xl-5 messages-page-box">
                <div class="col-md-10 col-xl-8 text-center mx-auto">
                    <br>
                    <h2 class="message-page-title">Envio de Mensagem</h2>
                    <p class="w-lg-50">Utilize o nosso serviço de mensagem para contactar os
                        voluntários e as empresas de forma segura. Não aconselhamos a contactar via outros metodos
                        de contacto</p>
                    <br>
                </div>
            <div class="list-group">
                {% for message in list %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 message-page-mtitle">{{ message.subjet }}</h5>
                            <small class="message-page-stitle">{{ message.date }}</small>
                        </div>
                        <p class="mb-1 message-page-stitle">Criado por: {{ message.sender.first_name }}</p>
                        {% if message.isRead == True %}
                            <small class="text-muted">&nbsp;&nbsp;&nbsp;  S/ Novas Mensagens</small>
                        {% else %}
                            <small class="message-page-mreceiv">
                                &nbsp;&nbsp;&nbsp;  Tem Novas Mensagens</small>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}