{% extends "slavaukraine/template.html" %}
{% load static %}
{% block main %}
    <div>
        <div class="mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="w-lg-50"></p>
            </div>
        </div>
        <!-- Ser Voluntartio -->
        <div class="container h-100 ">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Voluntariado</h2>
                    <p class="w-lg-50 volunteer-text">Aqui vais consultar toda a informação para ser voluntário</p>
                </div>
            </div>
            <div class="row mb-5">
                <p class="volunteer-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.


                </p>

            </div>
        </div>

        <!-- area  com Botão registar -->
        <div class="container h-100 ">
            <div class="text-white bg-primary border rounded border-0 p-4 py-5 volunteer-register">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold text-white mb-3 volunteer-text">Voluntaria-te<br/>Vem
                                fazer a diferença
                            </h1>
                            <p class="mb-4 volunteer-subtext">Milhares de pessoas estão à tua espera para contribuires
                                para a reconstrução de edificios destruidos pela guerra com a Russia</p>
                           <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="{% url 'slavaukraine:registerperson' %}">Regista-te Já</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Divisao -->
        <div class="mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="w-lg-50"></p>
            </div>
        </div>

        <!-- area Ajuda-nos -->

        <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 w-100 volunteer-container">
                <div class="col order-md-first">
                    <div class="card"><img class="card-img w-100 d-block"
                                           src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                            <h4>A tua ajuda é importante</h4>
                            <p class="volunteer-subtext-blue">Ao ajudares estás a ajudar todos nós a reconstruir as
                                habitações das casas na Ucrania</p>
                        </div>
                    </div>
                </div>
                <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                    <div class="volunteer-container">
                        <h2>A tua ajuda é importante</h2>
                        <p class="w-lg-50 volunteer-text">Ao ajudares estás a ajudar todos nós a reconstruir as
                            habitações das casas na Ucrania</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row gy-4 row-cols-1 row-cols-md-2 w-100 volunteer-container" >
                <div class="col order-md-2">
                    <div class="card"><img class="card-img w-100 d-block"
                                           src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                            <h4>A tua ajuda é importante</h4>
                            <p class="volunteer-subtext-blue">Ao ajudares estás a ajudar todos nós a reconstruir as
                                habitações das casas na Ucrania</p>
                        </div>
                    </div>
                </div>
                <div class="col d-md-flex order-first justify-content-md-end text-end align-items-md-end order-md-1">
                    <div class="volunteer-container">
                        <h2>A tua ajuda é importante</h2>
                        <p class="w-lg-50 volunteer-text">Ao ajudares estás a ajudar todos nós a reconstruir as
                            habitações das casas na Ucrania</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row gy-4 row-cols-1 row-cols-md-2 w-100 volunteer-container">
                <div class="col order-md-first">
                    <div class="card"><img class="card-img w-100 d-block"
                                           src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                            <h4>A tua ajuda é importante</h4>
                            <p class="volunteer-subtext-blue">Ao ajudares estás a ajudar todos nós a reconstruir as
                                habitações das casas na Ucrania</p>
                        </div>
                    </div>
                </div>
                <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                    <div class="volunteer-container">
                        <h2>A tua ajuda é importante</h2>
                        <p class="w-lg-50 volunteer-text">Ao ajudares estás a ajudar todos nós a reconstruir as
                            habitações das casas na Ucrania</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="w-lg-50"></p>
            </div>
        </div>
{% endblock %}