html {
    color: #005bbb;
}

body {
    color: #005bbb !important;
    background: #f6d945 !important;
}
nav{
    background: #005bbb;
}
.color-uk {
    color: #f6d945 !important;
}

.color-uk-w {
    color: #ffffff !important;
}

.color-uk-w-b {
    color: #ffffff !important;
    background: #005bbb !important;
}

.carrousel-dimensions {
    height: 450px;
    width: auto;

}

.carrousel-settings {
    z-index: -1;
}

.carrousel-text {
    max-width: 350px;
}

.carrousel-subtext{
    color: #707070 !important;
}

.carrousel-button {
    color: #ffffff !important;
    background: #0d6efd !important;
}

.carrousel-button-uk {
    color: #f6d945 !important;
}

.card-subtitle {
    color: #707070 !important;
}

.card-size {
    height: 200px;
}

.card-text {
    color: #707070 !important;
}

.statistics-color {
    background: transparent !important;
}


.testimonies-color {
    color: #707070 !important;

}

/* login page */

.login-size-form {
   width: 700px !important;
    height: auto;
}

.login-size-card {
    height: auto;
}

.login-size-fileds {
    width: 350px ;
    height: auto ;
}

.login-color-error {
    color: crimson !important;
}

.login-color-help {
    color: grey;
}

.login-allign-fields {
    text-align: left;
    width: 100% !important;
    margin: 10px;
}

.login-hiperlinks,.login-hiperlinks:active {
    color: grey !important;
}

.login-hiperlinks:hover {
    color: #005bbb !important;
}

/* register page */

.register-size-form {
   width: 700px !important;
    height: auto;
}

.register-size-card {
    height: auto;
}

.register-color-error {
    color: crimson !important;
}

.register-size-fileds {
    width: 470px ;
    height: auto ;
}

.register-color-help {
    color: grey;
}

.register-allign-fields {
    text-align: left;
    width: 100% !important;
    margin: 10px;
}


/* Contacts Page */

.contacts-page-card {
    background: #ffffff;
    width: 900px !important;
}

.contacts-margin-title {
    margin-bottom:  1.5rem !important;
}

/* reserved area */
.reserved-page-card {
    background-color: #ffffff !important;
    width: 900px !important;
    margin: 10px !important;
}
